@model OSRS_TeamProject.Models.InventoryItem

@{
    ViewData["Title"] = "Item Details";
}

@section Styles {
    <!-- Silkscreen font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <!-- Matt theme -->
    <link rel="stylesheet" href="~/css/matt.css" asp-append-version="true" />
}

<div class="rsfont center-container text-light">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 style="color: #FF981F; text-shadow: 2px 2px 2px black;">@ViewData["Title"]</h1>
            <a class="btn yellow-btn btn-shadow" asp-action="Create">Add Item</a>
        </div>
        <hr />
        <div class="text-dark p-sm-2" style="background: #D9D9D9; border-radius: 5px;">
            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    @{
                        var icon = string.IsNullOrWhiteSpace(Model.IconUrl)
                        ? Url.Content("~/img/placeholder-item.svg")
                        : $"https://secure.runescape.com/m=itemdb_oldschool/obj_big.gif?id={Model.ItemId}"!;
                    }
                    <img src="@icon" alt="icon" width="96" height="96"
                         style="object-fit:contain;border-radius:5px;padding:4px;border:2px solid #494034; " />

                </div>
                <div class="col d-flex justify-content-between align-items-center">
                    <h2 class="h4 m-0">@Model.Name</h2>
                    <div class="h5">@Model.Quantity <span class="text-muted me-sm-2">in inventory</span></div>
                </div>
                <div class="text-muted mt-0">ID: @Model.ItemId</div>
            </div>

            <dl class="row">
                <dt class="col-sm-2">Name</dt>
                <dd class="col-sm-10">@Model.Name</dd>

                <dt class="col-sm-2">Description</dt>
                <dd class="col-sm-10">@Model.Description</dd>

                <dt class="col-sm-2">Notes</dt>
                <dd class="col-sm-10">@Model.Notes</dd>
            </dl>
            <div class="mt-3">
                <a class="btn yellow-btn me-2 btn-shadow" asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a>
                <a class="btn me-2 btn-secondary btn-shadow" asp-action="Index">Back to Inventory</a>
                <a class="btn btn-danger me-2 float-sm-end btn-shadow" asp-action="Delete" asp-route-id="@Model.ItemId">Delete</a>
            </div>
        </div>

    </div>
</div>
